import %workspace%/../../.bazelrc.common
import %workspace%/../../.bazelrc.common.rust

# This is needed to make linking a `rust_library` into a `cc_library` (and therefore having it
# linked by the C++ linker) work correctly.
build --@rules_rust//rust/settings:experimental_use_allocator_libraries_with_mangled_symbols

common --repo_env=CC=clang

# CFC registry
common --registry=https://bcr.bazel.build --registry=https://raw.githubusercontent.com/google-parfait/confidential-federated-compute/main/registry/

# Work around missing dependencies in the parent (CFC); to remove once fixed
build --features=-layering_check

build:ubsan --linkopt=-Wl,--allow-shlib-undefined
