import %workspace%/../../.bazelrc.common
import %workspace%/../../.bazelrc.common.rust

build --force_pic

build --@rules_rust//rust/settings:rustfmt.toml=//:.rustfmt.toml

# This is needed to make linking a `rust_library` into a `cc_library` (and therefore having it
# linked by the C++ linker) work correctly.
build --@rules_rust//rust/settings:experimental_use_allocator_libraries_with_mangled_symbols
