import %workspace%/.bazelrc.common
import %workspace%/.bazelrc.common.rust

build --@rules_rust//rust/settings:rustfmt.toml=//:.rustfmt.toml

# sqlite3 options; see https://sqlite.org/compile.html.
build --copt=-DSQLITE_DQS=0
build --copt=-DSQLITE_THREADSAFE=1
build --copt=-DSQLITE_DEFAULT_MEMSTATUS=0
build --copt=-DSQLITE_LIKE_DOESNT_MATCH_BLOBS
build --copt=-DSQLITE_MAX_EXPR_DEPTH=0
build --copt=-DSQLITE_OMIT_DECLTYPE
build --copt=-DSQLITE_OMIT_PROGRESS_CALLBACK
build --copt=-DSQLITE_OMIT_SHARED_CACHE
build --copt=-DSQLITE_OMIT_AUTOINIT
build --copt=-DSQLITE_STRICT_SUBTYPE=1
build --copt=-DHAVE_LOCALTIME_R

