# The dependency versions in this file are chosen to be as close as possible to
# those in the corresponding repos.

# Dependencies for federated_language.
absl-py~=1.0
attrs~=23.1
dm-tree==0.1.8
ml_dtypes>=0.2.0,==0.2.*
numpy~=1.25
protobuf~=4.21
typing-extensions~=4.5

# Additional dependencies for org_tensorflow_federated.
dp-accounting==0.4.3
tensorflow>=2.14.0,==2.14.*
tensorflow-privacy==0.9.0
tensorflow-model-optimization==0.7.5
portpicker~=1.6
google-vizier==0.1.11
tqdm~=4.64

# Additional dependencies for federated_language_jax.
jax~=0.4.29
jaxlib~=0.4.29

# Additional dependencies for federated-compute
immutabledict==4.2.0