import %workspace%/../.bazelrc.common
import %workspace%/../.bazelrc.common.rust

# Build XLA with more optimizations to avoid linker OOM.
build --per_file_copt=external/xla/@-O2,-g0,-DNDEBUG
build --define xnn_enable_avx512fp16=false
build --define xnn_enable_avx512amx=false
build --define xnn_enable_avxvnni=false
build --define xnn_enable_avxvnniint8=false
build --define xnn_enable_x86_amxfp16=false

common --noenable_bzlmod
common --repo_env=HERMETIC_PYTHON_VERSION=3.12

# rules_rust 0.54.1 doesn't work with rust's experimental lld linking and clang
# (https://blog.rust-lang.org/2024/05/17/enabling-rust-lld-on-linux.html).
build --@rules_rust//rust/settings:extra_rustc_flag=-Zlinker-features=-lld --@rules_rust//rust/settings:extra_exec_rustc_flag=-Zlinker-features=-lld

# Settings for remote build execution platform targets. We use the CFC-defined :remote_platform
# target rather than defining a  target in this workspace, so we override the default values from
# .bazelrc.common.
build:cfc-remote --extra_execution_platforms=@confidential_federated_compute//:remote_platform
build:cfc-remote --host_platform=@confidential_federated_compute//:remote_platform
build:cfc-remote --platforms=@confidential_federated_compute//:remote_platform
