common --@rules_python//python/config_settings:bootstrap_impl=script  # https://github.com/bazelbuild/rules_python/issues/691
common --enable_workspace=True

build --@rules_rust//rust/toolchain/channel=nightly
build --incompatible_enable_cc_toolchain_resolution
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1 --incompatible_strict_action_env
build --output_filter='^//'  # Suppress warnings from external dependencies.

# CFC registry
common --registry=https://bcr.bazel.build --registry=https://raw.githubusercontent.com/google-parfait/confidential-federated-compute/main/registry/

# Work around missing dependencies in the parent (CFC); to remove once fixed
build --features=-layering_check
