import %workspace%/../.bazelrc.common
import %workspace%/../.bazelrc.common.rust

# Build boringssl without exceptions since it's used from Rust.
build --per_file_copt=external/boringssl./@-fno-exceptions

# PIC is required when linking boringssl with Rust binaries.
build --per_file_copt=external/boringssl./@-fpic

build --@rules_rust//rust/settings:rustfmt.toml=//:.rustfmt.toml
