import %workspace%/../.bazelrc.common
import %workspace%/../.bazelrc.common.rust

common --announce_rc

# Enable XLA support by default.
common --define=with_xla_support=true
# Build TensorFlow and XLA with more optimizations to avoid linker OOM
common --per_file_copt=external/local_xla/@-O2,-g0,-DNDEBUG,-mfma,-mavx2
common --per_file_copt=external/org_tensorflow/@-O2,-g0,-DNDEBUG,-mfma,-mavx2
common --compilation_mode=opt
common --strip=always
common --copt=-mfma
common --copt=-mavx2
common --host_copt=-mfma
common --host_copt=-mavx2
common --define=xnn_enable_avx512fp16=false
common --define=xnn_enable_avx512amx=false
common --define=xnn_enable_avxvnni=false
common --define=xnn_enable_avxvnniint8=false
common --define=ynn_enable_x86_amxfp16=false
common --define=tflite_with_xnnpack=false
common --define=tensorflow_mkldnn_contraction_kernel=0
common --define=no_aws_support=true
common --define=no_gcp_support=true
common --define=no_hdfs_support=true
common --@rules_python//python/config_settings:precompile=force_disabled
common --repo_env=RULES_PYTHON_ENABLE_PIPSTAR=0
common --noenable_bzlmod
common --repo_env=TF_PYTHON_VERSION=3.12
common --repo_env=PYTHON_BIN_PATH=/usr/bin/python3.12
common --repo_env=USE_HERMETIC_CC_TOOLCHAIN=1
common --repo_env=SYSROOT_DIST=linux_glibc_2_27

# rules_rust 0.54.1 doesn't work with rust's experimental lld linking and clang
# (https://blog.rust-lang.org/2024/05/17/enabling-rust-lld-on-linux.html).
build --@rules_rust//rust/settings:extra_rustc_flag=-Zlinker-features=-lld --@rules_rust//rust/settings:extra_exec_rustc_flag=-Zlinker-features=-lld
