# Dependencies for the program runner as well as transitive dependencies for federated_language,
# org_tensorflow_federated, jax_privacy, and dpsynth (best effort made at finding the intersection
# of the allowed dependency versions).

absl-py>=2.0,<3
attrs~=23.2
cachetools~=5.3
chex
dm-tree==0.1.9
dp-accounting
googleapis-common-protos==1.70.0
jax==0.10.0
jaxlib==0.10.0
ml_dtypes>=0.5.0,<0.6
more-itertools
networkx
numpy~=2.0
optax
pandas
portpicker~=1.6
protobuf==6.33.1 # Match version of protobuf pulled in from source.
pydantic
pyyaml
scipy
tensorflow-cpu>=2.21.0,==2.21.*
tqdm>=4.64.0,==4.64.*