name: Build and attest

on:
  push:
    branches: [main]

# See https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-using-concurrency-to-cancel-any-in-progress-job-or-run
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # Build and attest binaries for each module root in the repository.
  # New directories should be added to strategy.matrix.module-root below.
  build-and-attest:
    strategy:
      # Continue with other builds even if one fails.
      fail-fast: false
      matrix:
        module-root:
          - {root: ., name: .}
          - {root: containers/private_evolution/nn_histogram, name: nn_histogram}
          - {root: containers/private_evolution/sentence_transformers, name: sentence_transformers}
          - {root: kms, name: kms}
          - {root: program_containers, name: program_containers}
          - {root: program_tensorflow_containers, name: program_tensorflow_containers}

    permissions:
      contents: read
      id-token: write
      attestations: write

    uses: ./.github/workflows/reusable_build.yaml
    with:
      name: ${{ matrix.module-root.name }}
      module-root: ${{ matrix.module-root.root }}
    secrets:
      gcp-credentials: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY_JSON }}
